body {
    color: white;
    background: rgb(135, 95, 21);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(224, 146, 101);
    padding: 20px;
    font-size: 32px;
    color: rgb(44, 52, 62);
}

.chamada {
    background: rgb(178, 143, 67);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

.categoria {
    padding-left: 20px;
    padding-right: 20px;
  }